<meta charset="UTF-8">
<title>JOviedo-portfolio</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  body {
    padding-top: 50px;
  }

  .navbar {
    background-color: #343a40;
    /* Dark blue background color */
  }

  .navbar-logo {
    display: flex;
    justify-content: center;
    /* Horizontally center the logo */
    align-items: center;
    /* Vertically center the logo */
    height: 100px;
    /* Adjust the height as needed */
  }

  .navbar-logo img {
    max-width: 100%;
    /* Ensure the logo doesn't exceed its container */
  }

</style>

<body>
  <!-- Navbar with logo -->
  <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
          <div class="navbar-logo" style="text-align: center;">
              <img src="/assets/img/logoJorge.png" alt="Logo" style: width="100px"; height="100px">
              <h2 style="text-align: center; color: white; margin-left: 45px;">Jorge Enrique Oviedo Samaniego</h2>
          </div>
      </div>
  </nav>

</body>
</html>