<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Welcome to My Profile</h1>
    <p>Mission: As a dedicated Electronics Engineer, my mission is to showcase 
      my extensive expertise in IT support, network architecture, 
      patent redaction, graphic design, and business administration. 
      Through a commitment to excellence and innovation, 
      I aim to connect with like-minded professionals, share knowledge, 
      and contribute to cutting-edge projects in the ever-evolving world of technology.</p>
    <p>Explore more about me and my work:</p>
    <a href="/about" class="btn btn-primary">About Me</a>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>